---
import Layout from "../layouts/Layout.astro";
import ContactCard from "../components/ContactCard.astro";

---

<Layout title="Contact">
    <div style="margin: 8%;">
        <p>I'm looking for work! If you'd like to get in touch or request my resume, please use the form below or contact me at</p>
        <ContactCard>
        </ContactCard>
    </div>

</Layout>

<style>
    * {

    }
</style>