
<div class="container">
  <form action="src/php/contact.php" method="post" style="display: flex; flex-flow: column;">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your first name">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" placeholder="email">

    <label for="topic">Topic</label>
    <input type="text" name="topic" id="topic" placeholder="topic">

    <label for="subject">Subject</label>
    <textarea name="subject" id="subject" placeholder="write something.." cols="30" rows="10"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

<style>
  .container {
    border-radius: 5px;
    background-color: green;
    padding: 20px;
  }
</style>